RAG .json
{
  "name": "CRM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "98294ce3-8fd7-4909-9ec4-c0b1f1928dd3",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7nvLKOXpJxuCT1Ts",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text || $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support Email",
              "description": "Emails from customers containing questions, inquiries, requests for information, help requests, support needs, or any message asking about products, services, SEO, marketing, policies, or business topics."
            },
            {
              "category": "Other Emails",
              "description": "Only promotional content, newsletters, automated system notifications, spam, or marketing emails that are NOT asking questions or requesting information."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "id": "6cf7f25b-1af8-4a0f-8e00-64d43c575e3e",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -480,
        -96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "dc23f61c-2104-434f-ba4f-c90e4bd23928",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -544,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "TnHqMXlxO9q2pG78",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Gmail Trigger\").item.json.text || $(\"Gmail Trigger\").item.json.snippet }}",
        "options": {
          "systemMessage": "You are a helpful customer support assistant. Use the knowledge base to find relevant information and provide a clear, professional, and helpful response that directly answers the customer question. Keep your reply concise and friendly."
        }
      },
      "id": "382b9b54-75fe-40ff-a853-39f53316d9e0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "048dc48e-7e18-4fc7-ac18-e6661fd655fb",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "TnHqMXlxO9q2pG78",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base for information about customer support topics, product details, and privacy policies",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocodeairag",
          "mode": "list",
          "cachedResultName": "nocodeairag"
        },
        "options": {}
      },
      "id": "75f15be3-0ef9-4e54-be2f-55ff8c153301",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        96
      ],
      "credentials": {
        "pineconeApi": {
          "id": "iizRsia2WdcvuBFw",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bdf33ce0-7e8f-4661-8a7e-901c040bcdcd",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "TnHqMXlxO9q2pG78",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $(\"Gmail Trigger\").item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": true
        }
      },
      "id": "f1df5b65-9df5-43ee-a817-858157dbe187",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -128
      ],
      "webhookId": "67400f63-4907-4675-8e0e-8a5257c95902",
      "credentials": {
        "gmailOAuth2": {
          "id": "7nvLKOXpJxuCT1Ts",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "51fc44d8-f9da-4e0d-a25c-99dce2213834",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        336
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Gmail Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "9da92e27-dab0-4245-acd4-0ad30276a3fd",
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "a77995b95db669ccfdff192bdfd792e3b17e5663569bfa7bd116d59fc8ddf661"
  },
  "id": "2rEqJgLYYxZASdw1",
  "tags": []
}
