RAG .json
{
  "name": "RAG Piepline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OcYsr_Aw8P9pinq3tN_bIbxNLTAdAUCd",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "3f0c4c58-17c6-4e07-9236-727ec02e7d21",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "to6zhSHN1JBMcjsW",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b8f03c94-696f-4a25-80b3-71d940617f9f",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "to6zhSHN1JBMcjsW",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "nocodeairag"
        },
        "options": {}
      },
      "id": "867b26de-e9fa-4438-ba21-af758b816080",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "credentials": {
        "pineconeApi": {
          "id": "BaYpLMDaBBlHSCJU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "322f83e9-c460-440c-bfc8-b20f168c0fd0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        432
      ],
      "credentials": {
        "openAiApi": {
          "id": "XqEmSg8YOgclvCun",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "b4e26909-173c-4dcb-9060-415ba52b6033",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        432
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ff569f9-dde7-4f10-8e84-b18b9cfe267f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        416,
        640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "304013c4-f84c-4d9d-ba67-fb4565a6479a",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        864
      ],
      "webhookId": "77b6f0c6-05e2-44d2-bfe6-82b040f83559"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are helpful assisstant that will check the rag chunks that have been executed and make sure that the information asked by the user is answered efficiently."
        }
      },
      "id": "9c929891-25e5-4bd8-88a1-7e6df379d9ef",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        848
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "1a6ff49b-cc95-4289-84b0-36c3a8e68207",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -80,
        1120
      ],
      "credentials": {
        "openRouterApi": {
          "id": "MAL64HD2Iq2VszfZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "fetch data from faqs file\n\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "nocodeairag",
          "mode": "list",
          "cachedResultName": "nocodeairag"
        },
        "options": {}
      },
      "id": "c9d7d08b-add0-4e53-9e5a-7e0768407b43",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        1136
      ],
      "credentials": {
        "pineconeApi": {
          "id": "BaYpLMDaBBlHSCJU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e36c224b-d99c-4844-860a-eed515254289",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        1344
      ],
      "credentials": {
        "openAiApi": {
          "id": "XqEmSg8YOgclvCun",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "b0a41fd0-8c82-43cd-b053-b71dab0c148d",
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "9590ead5c42fffb7feb78f18eb54d19eab9177fa40ad150188ac01a4b3452098"
  },
  "id": "h55S7o7ziAg3rB9n",
  "tags": []
}